.container {
    position: relative;
    
    height: 100%;
    
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    
    background-color: lightskyblue;
}

.profile {
    position: absolute;
    top: 0;
    
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}